header {
    height: 7.5rem;
    background-color: $desaturated-dark-cyan;
    background-image: url("../images/bg-header-mobile.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.header-filters-container {
    padding: 6.25rem 1.5rem 0 1.5rem;

    .filters-container {
        position: relative;
        width: 100%;
        border: none;
        border-radius: 4.875px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        min-height: 2.5rem;
        background: #fff;
        padding: 1rem 5rem 1rem 1rem;
        display: flex;
        align-items: center;
        gap: .75rem;
        flex-wrap: wrap;
    }

    .label--invisible {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        user-select: none;
        pointer-events: none;
    }

    .clear--button {
        position: absolute;
        right: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
        font-family: inherit;
        font-weight: 500;
        font-size: 1rem;
        border: none;
        background: none;
        color: $very-dark-grayish-cyan;
    }

    button {
        border: none;
        border-radius: .5rem;
        background: $light-grayish-cyan2;
        color: $desaturated-dark-cyan;
        font-family: inherit;
        font-weight: 700;
        padding: .5rem 0 .5rem .5rem;
        font-size: .875rem;

        span {
            margin-left: .5rem;
            background: $desaturated-dark-cyan;
            color: $light-grayish-cyan;
            padding: .5rem;
            border-radius: 0 .5rem .5rem 0;
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        background-image: url("../images/bg-header-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .header-filters-container {
        padding: 6rem 8vw 0 8vw;

        .filters-container {
            min-height: 3rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header-filters-container {
        .clear--button {
            cursor: pointer;
            transition: .1s;

            &:hover {
                color: $desaturated-dark-cyan;
                text-decoration: underline;
                transition: .1s;
            }
        }
    }
}

