.jobs--container {
    margin-top: 2rem;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    article {
        background: #fff;
        border-radius: 4.875px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-left: 4px solid $desaturated-dark-cyan;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        gap: 1rem;
        padding: 1rem;

        img {
            width: 56px;
            margin-top: -2.625rem;
        }

        .job--information {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
        }

        .company--name--container {
            display: flex;
            align-items: center;
            gap: .5rem;

            h3 {
                color: $desaturated-dark-cyan;
                font-size: 1rem;
            }

            .new--span, .featured--span {
                background: $desaturated-dark-cyan;
                color: #fff;
                font-weight: 700;
                padding: .25rem .375rem;
                border-radius: .75rem;
                font-size: .875rem;

                &.new--span {
                    margin-left: 1rem;
                }

                &.featured--span {
                    background: $very-dark-grayish-cyan;

                }
            }
        }

        a {
            text-decoration: none;
        }

        h2 {
            color: $very-dark-grayish-cyan;
            font-size: 1rem;
        }

        .post--info {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: $dark-grayish-cyan;
            font-weight: 500;
            border-bottom: 1px solid $dark-grayish-cyan;
            padding-bottom: 1rem;

            .contract::before, .location::before {
                content: "•";
                margin-right: .5rem;
            }

            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                margin: -1px;
                clip: rect(0, 0, 0, 0);
            }
        }

        .languages--tools--container {
            ul {
                list-style-type: none;
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;

                button {
                    border: none;
                    border-radius: .5rem;
                    background: $light-grayish-cyan2;
                    color: $desaturated-dark-cyan;
                    font-family: inherit;
                    font-weight: 700;
                    padding: .5rem;
                    font-size: .875rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .jobs--container {
        margin-top: unset;
        padding: 5rem 8vw;

        article {
            flex-direction: row;
            align-items: center;

            img {
                width: 72px;
                margin-top: unset;
            }

            .job--information {
                width: unset;
            }

            .post--info {
                border-bottom: unset;
                padding-bottom: unset;
            }

            .languages--tools--container {
                margin-left: auto;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .jobs--container {
        article {
            h2 {
                transition: .1s;

                &:hover {
                    color: $desaturated-dark-cyan;
                    transition: .1s;
                }
            }

            .languages--tools--container {
                ul {
                    button {
                        cursor: pointer;
                        transition: .1s;

                        &:hover {
                            color: $light-grayish-cyan;
                            background: $desaturated-dark-cyan;
                            transition: .1s;    
                        }
                    }
                }
            }
        }
    }
}