@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: League Spartan, sans-serif;
  font-size: 0.9375rem;
  background: hsl(180, 52%, 96%);
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

header {
  height: 7.5rem;
  background-color: hsl(180, 29%, 50%);
  background-image: url("../images/bg-header-mobile.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.header-filters-container {
  padding: 6.25rem 1.5rem 0 1.5rem;
}
.header-filters-container .filters-container {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 4.875px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 2.5rem;
  background: #fff;
  padding: 1rem 5rem 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}
.header-filters-container .label--invisible {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.header-filters-container .clear--button {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  font-family: inherit;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background: none;
  color: hsl(180, 14%, 20%);
}
.header-filters-container button {
  border: none;
  border-radius: 0.5rem;
  background: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-family: inherit;
  font-weight: 700;
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 0.875rem;
}
.header-filters-container button span {
  margin-left: 0.5rem;
  background: hsl(180, 29%, 50%);
  color: hsl(180, 52%, 96%);
  padding: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

@media screen and (min-width: 768px) {
  header {
    background-image: url("../images/bg-header-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .header-filters-container {
    padding: 6rem 8vw 0 8vw;
  }
  .header-filters-container .filters-container {
    min-height: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .header-filters-container .clear--button {
    cursor: pointer;
    transition: 0.1s;
  }
  .header-filters-container .clear--button:hover {
    color: hsl(180, 29%, 50%);
    text-decoration: underline;
    transition: 0.1s;
  }
  .header-filters-container button {
    transition: 0.2s;
    cursor: pointer;
  }
  .header-filters-container button:hover span {
    background: hsl(180, 14%, 20%);
    transition: 0.2s;
  }
}
.jobs--container {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1300px;
  margin: 2rem auto 0 auto;
}
.jobs--container article {
  background: #fff;
  border-radius: 4.875px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 1rem;
  padding: 1rem;
  border-left: 4px solid transparent;
}
.jobs--container article .uppercase {
  text-transform: uppercase;
}
.jobs--container article.featured {
  border-left: 4px solid hsl(180, 29%, 50%);
}
.jobs--container article img {
  width: 56px;
  margin-top: -2.625rem;
}
.jobs--container article .job--information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.jobs--container article .company--name--container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.jobs--container article .company--name--container h3 {
  color: hsl(180, 29%, 50%);
  font-size: 1rem;
}
.jobs--container article .company--name--container .new--span, .jobs--container article .company--name--container .featured--span {
  background: hsl(180, 29%, 50%);
  color: #fff;
  font-weight: 700;
  padding: 0.25rem 0.375rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
}
.jobs--container article .company--name--container .new--span.featured--span, .jobs--container article .company--name--container .featured--span.featured--span {
  background: hsl(180, 14%, 20%);
}
.jobs--container article a {
  text-decoration: none;
}
.jobs--container article h2 {
  color: hsl(180, 14%, 20%);
  font-size: 1rem;
}
.jobs--container article .post--info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(180, 8%, 52%);
  font-weight: 500;
  border-bottom: 1px solid hsl(180, 8%, 52%);
  padding-bottom: 1rem;
}
.jobs--container article .post--info .contract::before, .jobs--container article .post--info .location::before {
  content: "•";
  margin-right: 0.5rem;
}
.jobs--container article .languages--tools--container ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.jobs--container article .languages--tools--container ul button {
  border: none;
  border-radius: 0.5rem;
  background: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-family: inherit;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .jobs--container {
    margin-top: unset;
    padding: 5rem 8vw;
  }
  .jobs--container article {
    flex-direction: row;
    align-items: center;
  }
  .jobs--container article img {
    width: 72px;
    margin-top: unset;
  }
  .jobs--container article .job--information {
    width: unset;
  }
  .jobs--container article .post--info {
    border-bottom: unset;
    padding-bottom: unset;
  }
  .jobs--container article .languages--tools--container {
    margin-left: auto;
  }
}
@media screen and (min-width: 1024px) {
  .jobs--container article h2 {
    transition: 0.1s;
  }
  .jobs--container article h2:hover {
    color: hsl(180, 29%, 50%);
    transition: 0.1s;
  }
  .jobs--container article .languages--tools--container ul button {
    cursor: pointer;
    transition: 0.1s;
  }
  .jobs--container article .languages--tools--container ul button:hover {
    color: hsl(180, 52%, 96%);
    background: hsl(180, 29%, 50%);
    transition: 0.1s;
  }
}/*# sourceMappingURL=general.css.map */